.banner {
    z-index: 1;
}

.banner-wrapper a {
    width: 100%;
    height: 100%;
}

.banner-wrapper {
    max-height: 500px;
    overflow-y: hidden;
    /* position: relative; */
    z-index: -1;
}

.banner-wrapper-overlay {
    position: relative;
}
.banner-wrapper img {
    width: 100%;
    object-fit: contain;
    object-position: 0px -10rem;
    filter: grayscale(70%) blur(1px);
}

.banner-wrapper h3 {
    background: linear-gradient(317deg, rgba(69, 34, 112, 1) 0%, rgba(255, 255, 255, 1) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-title--wrapper {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.banner-title--wrapper p {
    text-decoration: none;
    font-size: 2rem;
    color: white !important;
    text-transform: capitalize;
    font-weight: 600;
}
.banner-title--wrapper a {
    text-decoration: none;
    background: linear-gradient(317deg, rgba(69, 34, 112, 1) 0%, rgba(255, 255, 255, 1) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline-bannerTitle {
    position: fixed;
    width: 300px;
    height: 1px;
    background: linear-gradient(317deg, rgba(198, 242, 241, 0.2) 0%, rgba(69, 34, 112, 0.4) 95%);
    z-index: 11;
    right: -2rem;
}

.banner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(317deg, rgba(198, 242, 241, 0.5) 0%, rgba(69, 34, 112, 0.8) 95%);
}
