@import "./searchResult.css";
@import "./banner.css";
/* @import "./home.css";
@import "./federatedSearch.css"; */

body,
h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

:root {
    --main-color: #452270;
    --second-color: #c6f2f1;
    --third-color: #015463;
}
